<a href="https://colab.research.google.com/github/bhagya-1997/bhagya-1997/blob/main/Assignment_3_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Bhagyashree Deshpande
# Hypothesis Testing Exercise

### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

### Minitab File : Cutlets.mtw

#### Assume Null hypothesis as H0 : µ1 = µ2 (There is no difference in diameters of cutlets between two units).
#### Thus alternate hypothesis as H1 : µ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units) 2 Sample 2 Tail test applicable.

In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
data = pd.read_csv('Cutlets.csv')

In [ ]:
unit_A = pd.Series(data.iloc[:,0])
unit_B = pd.Series(data.iloc[:,1])

In [ ]:
p_value = stats.ttest_ind(unit_A, unit_B)
round(p_value[1],4)

0.4722

## Hypothesis Testing Exercise
### A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
### Minitab File: LabTAT.mtw

In [ ]:
data = pd.read_csv('LabTAT.csv')

In [ ]:
p_value = stats.f_oneway(data.iloc[:,0], data.iloc[:,1], data.iloc[:,2], data.iloc[:,3])
p_value[1]

2.1156708949992414e-57

## Hypothesis Testing Exercise
### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
data = pd.read_csv('BuyerRatio.csv')
data = data.iloc[:,1:]
data = data.values

In [ ]:
val = chi2_contingency(data)
p_val = val[1]

In [ ]:
if p_val <= 0.05:
    print('Dependent (Reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)

## Hypothesis Testing Exercise
### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
### Minitab File: CustomerOrderForm.mtw

In [ ]:
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [ ]:
data = pd.read_csv('Costomer+OrderForm.csv')
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
Phillippines = data['Phillippines'].value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
Indonesia = data['Indonesia'].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
Malta = data['Malta'].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
India = data['India'].value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
chi_stats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
p_value = chi_stats[1]
p_value

0.2771020991233135

In [ ]:
if p_value > 0.05:
    print('Do not reject Null hypothesis')
else:
    print('Reject Null hypothesis')

Do not reject Null hypothesis